*{-webkit-text-size-adjust:none;}
body{width:540px;margin:0 auto;min-height:600px;}
body h1{text-align:center;font-weight:bold;text-transform:capitalize;font-size:175%;}
body em{display:none;}
body ul.puzzle-board{background-color:#EFEFEF;overflow:hidden;opacity:0.8;margin:0 auto;display:block;}
body ul.puzzle-board li.tile{background:none no-repeat scroll 0 0 #EFEFEF;border:solid 2px #FFF;float:left;
-webkit-transition-property: left, top;
-webkit-transition: 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
-webkit-tap-highlight-color:#00FEFE;
}
body ul.puzzle-board li.tile.blank{background-image:none;z-index:-1;border:0;}

body ul.puzzle-board.solved{
-webkit-transition:all 0.8s ease-in;
-moz-transition:all 0.8s ease-in;
-o-transition:all 0.8s ease-in;
-ms-transition:all 0.8s ease-in;}
body ul.puzzle-board.solved li{background-image:none !important;border:none;background-color:transparent;}

body.horizontal{}
body.horizontal em{display:block;font-size:3em;}
body.horizontal ul.puzzle-board, 
body.horizontal ul.puzzle-board.solved{display:none}
	
