<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Sliding Tile Puzzle</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Sriram Krishnan">
	<!-- Date: 2012-01-24 -->
	<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/puzzle.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <h1>Solve The Puzzle</h1>
  <script src="/javascripts/puzzle.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
