<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Vivi's Playlist</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Sriram Krishnan">
	<!-- Date: 2011-12-20 -->
	<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <h1>Happy Birthday Viviktha!</h1>
  <div class="content">
    <ul class="songs">
      <li>
        <audio controls>
          <source src="https://docs.google.com/open?id=0B9_8thBPOunzTThUdzFNaHMtcGs" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <a href="https://docs.google.com/open?id=0B9_8thBPOunzTThUdzFNaHMtcGs">Download</a>
      </li>
    </ul>
  </div>
  <div class="footer">
    <ul class="powered-by">
      <li class="node-js">NodeJS</li>
      <li class="css-3">CSS3</li>
    </ul>
  </div>
</body>
</html>